@model College_Management_System.Models.Student

@{
    ViewBag.Title = "Message";
}

<h1>Student does not Exist</h1>
<h2>Check details</h2>
<div>
    @Html.ActionLink("Back to login", "Login", "Student")
</div>


