@model College_Management_System.Models.Student

@{
    ViewBag.Title = "Message";
}

<h2>Entered Student does not Exist</h2>

<div>
    @Html.ActionLink("Back to login", "Login", "Student")
</div>


